body{
    background-color: lightsteelblue;
}

div{
    border-style:  solid;
    border-width: 10px;
        padding: 30px
}

.container {
    border-color: whitesmoke;
}

.row {
    border-color: grey;
}
.col-xs-10 {
    border-color: blue
}

.col-xs-2 {
    border-color: green
}
